<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<title>BBC news article sorting</title>
</head>
<body>
<div class="half">

<div class="bg order-1 order-md-2" style="background-image: url('static/images/bg_1.jpg');"></div>
<div class="contents order-2 order-md-1">
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-md-6">
<div class="form-block">
<div class="text-center mb-5">
<h3><strong>BBC</strong> news article sorting</h3>

</div>
<form id = "form" action="/predict_api" method="post" >

<div class="form-group first">
<label for="Text">Enter Text</label>
<input type="text" name='article' class="form-control" placeholder="Enter Text" id="text" required>
</div>

<div class="form-group first">
    <label for="Text">Select ML models</label>
    <select class="form-control" id="ml-models" name="ml_model" required onchange="return selectedOne()">
        <option value="">Select ML Models</option>
        <option value="MNB">MNB</option>
        <option value="BNB">BNB</option>
        <option value="CNB">CNB</option>
        <option value="SGD">SGD</option>
        <option value="RFC">RFC</option>
      </select>
</div>

<div class="form-group first">
    <label for="Text">Select DL models</label>
    <select class="form-control" id="dl-models" onchange="return selectedTwo()">
        <option value="">Select DL Models</option>
        <option value="LSTM">LSTM</option>
        <option value="GRU">GRU</option>
        <option value="RNN">RNN</option>        
    </select>
</div>

<input type="submit" value="Detect category" class="btn btn-block btn-primary" id="submitBtn" >

</form>
<br>
<form id = "form" action="/predict_all" method="post">
  <input type="text" name='article' class="form-control" placeholder="Enter Text" id="text" required>

  <input type="submit" value="Detect category summary" class="btn btn-block btn-primary" id="submitBtn1" >
</form>
</div>
<table class="table" id="showTable">
    <thead>
      <tr>
        <th></th>
        <th colspan="5">Probability Score</th>
        
        <th></th>
    </thead>
    <thead>
      <tr>
        <th>Model</th>
        <th>Sports</th>
        <th>Business</th>
        <th>Politics</th>
        <th>Entertainment</th>
        <th>Technology</th>
        <th>Overall result</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>{{model_name}}</td>
        <td>{{BNB_sports_prob}}</td>
        <td>{{BNB_business_prob}}</td>
        <td>{{BNB_politics_prob}}</td>        
        <td>{{BNB_entertainment_prob}}</td>
        <td>{{BNB_tech_prob}}</td>
        <td>{{predicted_category}}</td>
      </tr>      
    </tbody>
  </table>

  <table class="table" id="showTable1">
    <thead>
      <tr>
        <th></th>
        <th colspan="5">Probability Score</th>
        
        <th></th>
    </thead>
    <thead>
      <tr>
        <th>Model</th>
        <th>Business</th>
        <th>Technology</th>
        <th>Politics</th>
        <th>Sport</th>
        <th>Entertainment</th>
        <th>Overall result</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>{{BNB_model_name}}</td>
        <td>{{BNB_business}}</td>
        <td>{{BNB_tech}}</td>
        <td>{{BNB_politics}}</td>        
        <td>{{BNB_sport}}</td>
        <td>{{BNB_entertainment}}</td>
        <td>{{BNB_predicted_category}}</td>
      </tr>      
    </tbody>
    <tbody>
      <tr>
        <td>{{MNB_model_name}}</td>
        <td>{{MNB_business}}</td>
        <td>{{MNB_tech}}</td>
        <td>{{MNB_politics}}</td>        
        <td>{{MNB_sport}}</td>
        <td>{{MNB_entertainment}}</td>
        <td>{{MNB_predicted_category}}</td>
      </tr>      
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>