<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <h3 class="text">News Articles Sorting</h3>
    <form action="{{ url_for('predict')}}"method="post">
      
        <textarea name="article" cols="93" rows="23" placeholder="Write your News here.."
            required></textarea><br><br><br><br>
        <input type="submit" class="submit" value="Detect category">
    </form>
    <table class="table" id="hideTable">
        <thead>
          <tr>
            <th>Model Name</th>
            <th>Result</th>        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{model_name}}</td>
            <td>{{prediction_text}}</td>        
          </tr>      
        </tbody>
      </table>
    
</body>
</html>